<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Menu</title>
    <link href="/css/tempstyles.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class ="box" id="heading">
        <h1>Admin Menu</h1>
    </div>
    <button><a href="/updateMenu">Update Menu</a> </button>
    <button><a href="/manageOrders">Manage Orders</a> </button>
    <button><a href="/addAdmin">Add Admin</a> </button>


   

</body>
</html>