<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cust Info</title>
    <link href="/css/tempstyles.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class ="box" id="heading">
        <h1> <%=title %></h1>
    </div>
    <form action="/customerInfo" method="post">
        name:<input type="text" name="customername"><br>
        phoneNo: <input type="text" name="customerPhone"><br>
        <button type="submit">ADD</button>
    </form>
</body>
</html>