<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order list</title>
    <link href="/css/tempstyles.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class ="box" id="heading">
        <h1>ORDER LIST:</h1>
    </div>
    <%  listOfDishes.forEach(function(item){ %>
        <div class="item">
            <form action="/decrementOrder" method="post">
            <p><%=item.Dish%>
                <%=item.price %>

                    <button type="submit" name="decrement" value="<%=item._id%>">-</button>
                </p>
             </form>
          </div>
      <%  }) %>
      <p>Total Money=<%=priceTillNow %></p>  
      <form action="/" method="post">
        <button type="submit" name ="button"> <-GO BACK</button>
      </form>
      <form action="/payment" method="post"> <button type="submit" name ="button"> proceed-></button>
    </form>
</body>
</html>